{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="{% static 'home/assets_shop/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets_shop/css/colors/color-1.css' %}">
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}
<main class="main">
    <section class="section container">
        <div id="checkout" style="margin-top: 2rem;">
            </div>
    </section>
</main>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const stripe = Stripe("{{ STRIPE_PUBLISHABLE_KEY }}");

        const checkout = await stripe.initEmbeddedCheckout({
            clientSecret: "{{ client_secret }}",
        });

        // Mount Checkout
        checkout.mount('#checkout');
    });
</script>
{% endblock %}